 html {
  background-image: linear-gradient(to right, rgb(80, 177, 226) , rgb(120, 236, 155));
  }
  
  .column {
    float: left;
    width: 50%;
    padding-top: 1%;
  }

  .row {
    width: 100%;
  }

  img {
    width: 100%;
    border-radius: 120px;
    position: relative;
  }

  h1 {
    font-family: 'Courier New', Courier, monospace;
    color: black;
    text-align: center;
    font-weight: bold;
  }

  a, p {
    font-family: 'Courier New', Courier, monospace;
    color: blue;
    text-align: center;
    font-weight: bold;
  }

  a:hover, p.link:hover {
    color: black
  }



